html {
    background-color: #222831;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#gamemaster {
    visibility: hidden;
}